.header {
    height: 90px;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
}

.link {
    text-decoration: none;
    margin: 0 10px;
}

.htag {
    border: 1px solid black;
    padding: 10px 20px;
    color: #FFF;
}